<div class="NavBar">

    <div class="NavBarContent">
        <a routerLink="/connexion" class="Seconnecter NavIte">Se Connecter</a>
        <a routerLink="/inscription" href="#" class="NavItem">S'inscrire</a>
        <a (click)="scrollToElement(target)" class="NavItem cursor">Services</a>
    </div>

</div>

<div  class="Header">
  
    
    <div class="HeaderBackground">

        <div class="HeaderContent">

            <div class="HeaderIcon">

                <div class="HeaderRendB">
                    <div class="HeaderRendR"></div>
                </div>

            </div>

            <div class="HeaderTextParent">
                <div class="HeaderText">

                    <h1 class="HeaderTitle">Musi<span>Search</span></h1>
                    <p class="HeaderDescription">Partager et créer de la musique indépendante, voilà ce que propose MusiSearch.</p>
                    <div class="HeaderButton">
                        <a routerLink="/inscription" routerLinkActive="active" class="inscrire"> S'inscrire</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<div  class="Content ServicesContainer" #target>
    <h2 class="ServiceTitle">Services</h2>
    <div class="Services">
        <div class="Service">
            <img class="ServiceIcon" src="../../assets/images/caskbaf.png" alt="icon-service"/>
            <h3 class="ServiceName">Ecouter</h3>
        </div>
        <div class="Service">
            <img class="ServiceIcon" src="../../assets/images/cd.png" alt="icon-service"/>
            <h3 class="ServiceName">Remarquer</h3>
        </div>
        <div class="Service">
            <img class="ServiceIcon" src="../../assets/images/guitare.png" alt="icon-service"/>
            <h3 class="ServiceName">Produire</h3>
        </div>
        <div class="Service">
            <img class="ServiceIcon" src="../../assets/images/radio.png" alt="icon-service"/>
            <h3 class="ServiceName">Decouvrir</h3>
        </div>
    </div>
</div>

<div class="FooterContainer">
    <div class="FooterLogo"></div>

    <div class="FooterBottom">
        <div class="FooterCopyRight">CopyRight@2021</div>
    </div>

</div>