<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connection</title>
    <link rel="stylesheet" href="./connexion.component.scss">
</head>
<body>
    <div class="containerCnx">
        <div class="leftPart">
            <button routerLink="/accueilsansconnexion" class="btn-rond"><img src="../../assets/images/left.png" alt=""></button>
        </div>
        <div class="containerFormCnx">
            <div class="headerCnx">
                <img src="../../assets/images/logo-simple.png" alt="" id="logoSimple">
                <h1 class="titreCnx">Se connecter</h1>
            </div>           
            <form class="" [formGroup]="loginForm" class="formCnx" (ngSubmit)="seConnecter()">
                    <div class="contentFormCnx">
                    <div [ngClass]="{ 'has-error': isSubmitted && formControls.mail.errors }">
                      <input type="email" placeholder="Email" formControlName="mail">
                    </div>
                
                    <div *ngIf="isSubmitted && formControls.mail.errors" class="help-block">
                      <div *ngIf="formControls.mail.errors.required">L'email est requis</div>
                    </div>
                
                    <div [ngClass]="{ 'has-error': isSubmitted && formControls.mdp.errors }">
                      <input type="password" placeholder="Mot de passe" formControlName="mdp">
                    </div>
                
                    <div *ngIf="isSubmitted && formControls.mdp.errors" class="help-block">
                      <div *ngIf="formControls.mdp.errors.required">Mot de passe requis</div>
                    </div>
                
                    <div>
                        <button type="submit">Se connecter</button>
                    </div>
                    <div class="mdp"><a href="" id="mdp-oublier">Mot de passe oublié</a></div>
                </div>
                  </form>
        </div>
    </div>
</body>
</html>