* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.containerCnx {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    background-color: #1a2035;
}
.leftPart {
    background-image: url('../../assets/images/people-music.jpg');
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
}
.image-fleche{
    z-index: 1;
}

.containerFormCnx{
    width: 100%;
    padding: 20px;
    color: white;
    max-width: 35%;

}

.contentFormCnx{
    width: 90%;;
}
.headerCnx{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 100px;
}
#logoSimple{
    width: 180px;
    margin-bottom: 10px;
}
.btn-rond {
    font: 100%;
    font-family: inherit;
    border: 0;
    padding: 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff7276;
    box-shadow: white;
    cursor: pointer;
    margin-left: 20px ;
}
.btn-rond img{
    width: 35px;
}
.formCnx{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.formCnx input{
    width: 90%;
    height: 30px;
    margin-bottom: 20px;
    background-color: #1a2035;
    border: 0;
    border-bottom: 2px solid #ff7276 ;
    color: #ff7276;
    font-size: 16px;
}
.formCnx button{
    font: 100%;
    font-family: inherit;
    border: 0;
    padding: 0;
    width: 90%;
    text-align: center;
    padding: 12px;
    background-color: #ff7276;
    border-radius: 6px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    margin-top: 30px;
}
#mdp-oublier{
    text-decoration: none;
    color: #ff7276;
}
@media screen and ( max-width: 768px ){
    .leftPart{
        display: none;
    }
}

.mdp {
    text-align: center;
    margin-top: 14px;
    width: 90%;
}